

<!DOCTYPE html>
<html lang="en">
   <head>
   </head>
   <body>
       <!-- Inner Header -->
       <section class="section-padding bg-dark inner-header">
            <div class="container">
               <div class="row">
                  <div class="col-md-12 text-center">
                     <h1 class="mt-0 mb-3 text-white">Agents</h1>
                     <div class="breadcrumbs">
                        <p class="mb-0 text-white"><a class="text-white" href="../home/index.html">Home</a>  /  <span class="text-success">Agents</span></p>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- End Inner Header -->
      <!-- Trusted Agents -->
      <section class="section-padding">
         <div class="section-title text-center mb-5">
            <h2>Trusted Agents</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-lg-4 col-md-4">
                  <div class="card padding-card">
                     <div class="card-body agents-card text-center">
                        <img class="img-fluid mb-4" src="../img/user/1.jpg" alt="">
                        <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                        <h6 class="mb-0 text-success">- Stave Martin</h6>
                        <small>Buying Agent</small>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="card padding-card">
                     <div class="card-body agents-card text-center">
                        <img class="img-fluid mb-4" src="../img/user/2.jpg" alt="">
                        <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                        <h6 class="mb-0 text-success">- Mark Smith</h6>
                        <small>Selling Agent</small>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="card padding-card">
                     <div class="card-body agents-card text-center">
                        <img class="img-fluid mb-4" src="../img/user/3.jpg" alt="">
                        <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                        <h6 class="mb-0 text-success">- Ryan Printz</h6>
                        <small>Real Estate Broker</small>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-4 col-md-4">
                  <div class="card padding-card">
                     <div class="card-body agents-card text-center">
                        <img class="img-fluid mb-4" src="../img/user/4.jpg" alt="">
                        <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                        <h6 class="mb-0 text-success">- Stave Martin</h6>
                        <small>Buying Agent</small>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="card padding-card">
                     <div class="card-body agents-card text-center">
                        <img class="img-fluid mb-4" src="../img/user/5.jpg" alt="">
                        <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                        <h6 class="mb-0 text-success">- Ryan Printz</h6>
                        <small>Selling Agent</small>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4">
                  <div class="card padding-card">
                     <div class="card-body agents-card text-center">
                        <img class="img-fluid mb-4" src="../img/user/2.jpg" alt="">
                        <p class="mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                        <h6 class="mb-0 text-success">- Mark Smith</h6>
                        <small>Real Estate Broker</small>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- End Trusted Agents -->
   </body>
</html>

