<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/login}" id="login" th:object="${user}" th:method="post">
        <label for="username">Username <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="username" required="required" th:field="*{username}" placeholder="Enter Username">
        <label for="password">Password <span class="text-danger">*</span></label>
        <input type="password" class="form-control" required="required" id="password" th:field="*{password}" placeholder="Password">
         <button type="submit" form="login" class="btn btn-success btn-block">SIGN IN</button>
</form>
</body>
</html>