<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="registration-form" th:action="@{/register}" th:object="${user}" method="post">
        <label for="username">Username <span class="text-danger">*</span></label>
        <input type="text" class="form-control" th:field="*{username}"  id="username" placeholder="Enter Username">
        <label for="email">Email Address <span class="text-danger">*</span></label>
        <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Enter Email Address">
        <label for="password">Password <span class="text-danger">*</span></label>
        <input type="password" class="form-control" th:field="*{password}" id="password" placeholder="Enter Password">
            <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
            <label class="custom-control-label" for="customControlAutosizing">I agree with all <a th:href="@{/terms}">Terms & Conditions</a></label>
</form>
<button form = "registration-form" type="submit" class="btn btn-success btn-block">REGISTER</button>
</body>
</html>